.table > p {
  font-size: 1.2em;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.btn-back {
  width: 100px;
  height: 45px;
  color: #fff;
  background-color: #11a34e;
  border-radius: 5px;
  font-size: 20px;
}
